body {
  background-image: url(assets/nasa.jpg);
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  background-color: rgba(139, 150, 159, 0.55);
  border-radius: 10px;
}
